/*globals*/



html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

img {
  filter: blur(500px);
}

.current {
  border-bottom: 4px solid white;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
}

.app {
  margin: 0 auto;
}

.container {
  display: flex;
}

.grid-container {
  display: grid;
}

.blue-button {
  background-color: blue;
  color: white;
  font-family: inherit;
  border-width: 3px;
  line-height: 1.4;
  width: fit-content;
  height: fit-content;
  padding: 3px;
}

.blue-button:active {
  background-color: darkblue;
}



/*UI elements*/



.triangle-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid black;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid black;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  border-right: 4vw solid black;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  border-left: 4vw solid black;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.heart-icon {
  filter: none;
}