/*globals*/



html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

img {
  filter: blur(500px);
}

.current {
  border-bottom: 4px solid white;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
}

.app {
  margin: 0 auto;
}

.container {
  display: flex;
}

.grid-container {
  display: grid;
}

.blue-button {
  background-color: blue;
  color: white;
  font-family: inherit;
  border-width: 3px;
  line-height: 1.4;
  width: fit-content;
  height: fit-content;
  padding: 3px;
}

.blue-button:active {
  background-color: darkblue;
}



/*UI elements*/



.triangle-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid black;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid black;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  border-right: 4vw solid black;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  border-left: 4vw solid black;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.heart-icon {
  filter: none;
}



/*main styles*/



/* nav bar: */



.nav-bar {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 4;
  color: white;
}

.nav-bar a {
  text-decoration: none;
}

.nav-bar h1 {
  justify-content: flex-start;
  color: white;
  margin: 5px;
}

.nav-bar ul{
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-bar ul li {
  padding: 20px;
}

.nav-bar ul li a {
  color: white;
}

.sign-in-button{
  padding: 3px;
  font-size: 1em;
}



/*title area:*/



.title-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100vw;
  height: 100vh;
  align-items: center;
  position: relative;
  z-index: 0;
}

.title-container::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.title-area {
  color: white;
  z-index: 2;
  margin: 10vh;
}

.title {
  font-size: calc(min(20vh, 10vw));
}

.title-area p {
  font-size: 5vh;
  margin-bottom: 5vh;
}

.what-is-bioinformatics-button {
  font-size: 3vh;
  padding: 10px;
}

.what-is-bioinformatics-button a {
  color: inherit;
  text-decoration: inherit;
}



/*home page content*/



.home-content {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

.most-popular-tools-container {
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.most-popular-tools-title {
  margin: 20px;
  font-size: 3em;
}

.see-all-tools-button {
  font-size: 2em;
  padding: 3px;
  margin: 20px;
}

.tools-list {
  width: 60%;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}



/*Tool Description:*/



.tool-description {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 15vw;
  height: 50vh;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 20px;
  background-color: lightgray;
}

.tool-reference-image {
  filter: none;
  width: 80%;
  margin: 5px;
  aspect-ratio: 1/1;
}

.tool-title {
  font-size: calc(min(3vh, 1.5vw));
}

.tool-text-description {
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.dot-container {
  width: 10vw;
  justify-content: space-between;
}



/*footer:*/



.footer {
  height: 30px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

.footer div {
  margin: 5px;
}

.social-media {
  justify-content: space-around;
  align-items: center;
}

.social-media p {
  margin: 3px;
}

.social-media img {
  filter: none;
  height: 25px;
  aspect-ratio: 1/1;
  margin: 3px;
}



/*tool search page*/



.tools-page {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.search-tools-title {
  margin: 20px;
  font-size: 5vh;
}



/*tools search bar*/



.tools-search-bar {
  width: 80%;
  height: 30vh;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  background-color: lightgray;
  font-size: 3vh;
  flex-direction: column;
  justify-content: space-between;
}

.filter-section {
  justify-content: space-around;
}

.sort-section {
  flex-direction: column;
}

.sorting-radio-buttons {
  flex-direction: column;
  margin-left: 5%;
}

.tools-search-bar fieldset label input, #category {
  margin-left: 10px;
}

.tools-search-bar fieldset label {
  display: flex;
  align-items: center;
}

.tools-search-bar fieldset label input,
.tools-search-bar fieldset label select {
  font-size: inherit;
}

.tools-search-bar fieldset label input[type=checkbox],
.tools-search-bar fieldset label input[type=radio] {
  transform: scale(1.5);
}

.search-button {
  height: 15%;
  width: 10%;
  font-size: 80%;
}



/*tools search container*/



.tools-search-container {
  width: 80%;
  justify-content: space-around;
  margin: 20px;
}

.tools-search-container-list {
  flex-direction: column;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 20px;
}

.tool-description-container {
  justify-content: center;
  align-items: center;
}